* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

.nav-link-item {
  margin-left: auto;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.btn-block {
  display: block!important;
  width: 100%;
}